%footer
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.large-6.large-centered.columns.text-center
      %span
        &copy; &nbsp; Made by the
        = link_to 'Bride', 'http://courtneyejones.com', target: '_blank'
%a.edit-off-canvas
