%footer
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.large-6.large-centered.columns.text-center
      %span
        &copy; &nbsp; Made by the
        = link_to 'Bride', 'http://courtneyejones.com', target: '_blank'
  .row
    .small-12.medium-10.medium-centered.large-6.large-centered.columns.text-center
      %ul
        %li
          = link_to 'Login', new_user_session_path
%a.edit-off-canvas
