%footer
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.columns.text-center
      %span
        &copy; &nbsp; Made by the
        = link_to 'Bride', 'http://courtneyejones.com', target: '_blank' 
        and Groom
        %span.login
          = link_to 'Login', new_user_session_path
%a.edit-off-canvas
