= content_for :page_title do 
  Our Adventures
.small-12.columns
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.large-6.large-centered.columns
      - @posts.each do |post|
        .blog-section.article
          .row
            .small-12.columns.medium-10.medium-centered.large-9.large-centered.content-width.entry-content
              %p
                = image_tag post.featured_image
              %a{ href: post_path( post.slug ) }
                .divider
                %h3
                  = post.title
                
              %p.byline
                = post.created_at.strftime( '%B %-d, %Y' )
              %br
                %a.button{ href: post_path( post.slug ) }
                  %span Read More
