= content_for :page_title do 
  The Proposal
.small-12.columns
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.large-6.large-centered.columns
      %h3
        From Kevin's point of view -
      %small
        %br
        I wish to describe the planning, the sequence leading up to, and our proposal itself, in nothing less than an effort to share this moment of ours with you.  Keep reading for our special moment.
  .row
    %ul.small-block-grid-1.medium-block-grid-1
      %li
        = image_tag 'Kevin-courtney-engagement-1.jpg'
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.large-6.large-centered.columns
      %h3
        Sharp Top - A Special Place in Courtney's Heart
      %p
        Sharp Top Mountain has always been a special place to Courtney.  With the way she would speak of it,
        reminiscing about the hikes her family would take here, the times she and her father would stop by the 
        encampment at the bottom - at the Peaks of Otter Lodge and visitor's center below, I knew it was special.
        %br
        %br
        Long before we were ever to be engaged, I knew this was a special place, I place I wanted to forever feature
        as the focal point of us, the single most important place for our relationship, and a place for her to remember
        forever - no matter the passing time, no matter the changing seasons.  A place that would stand the test of time,
        alone amongst the wilderness of the Blue Ridge Parkway, more special than all the rest.
      %h3
        The Ring
      %p
        As many of you know, Courtney is an artist at heart.  The attention to detail, the craftsmanship of an artisan, the
        pride that comes with creating a vision of your own is what drives her soul.  The ring - an embodiment of our love
        for one another - could be nothing less.  She deserved a masterpiece.
        %br 
        %br
        When trying to find the one ring that was for her,
        the one that represented us in our unbounded love, I wanted to reach for the stars.
        %br
        %br
        Granny, our wonderful Mrs. Jones, had given the engagement ring, for her from Ebb Jones, to Courtney's father.  Her instruction -
        that when someone came looking for Courtney, the ring was for her.  It was to be a keepsake to the family, to carry on with the
        coming generations and the time that would pass, to keep the name and love in the Jones family, long past those who helped create it.
        Of course, this was all set up way prior to myself.  I simply sought Courtney's hand in marriage, not knowing of the heritage I would
        be challenged with.
      %p
        Early one morning in April, with the assistance of Mary, I left long before work to seek out Rick's blessing.  I left right as the sun 
        was coming up, way before my normal day would begin, with really noone knowing but myself, to go to him, and ask him for Courtney's hand.
        On the front porch at Rick's woodland home, I surprised him in his own environment, to confront him with the single most imporant question
        of my life only to be welcomed with open arms, and with the family ring in hand, and a brief story behind it.  Little did I know,
        this would be where the most difficult decision of my life thus far would start.
      %h3
        Which Ring, and Which Style?
      %p.text-center
        %a.button{ href: gallery_path( 'proposal-gallery' ) }
          %span See proposal photos
    %br
    .row
      .small-12.medium-10.medium-centered.large-6.large-centered.columns
        %h2.text-center
          Watch our Video!
          .flex-video
            %iframe{ width: 560, height: 315, src: 'https://www.youtube.com/embed/uWVu6Cth3Sw', frameborder: 0, allowfullscreen: ''}
    .row.vertical-spacing
      .small-12.medium-10.medium-centered.large-6.large-centered.columns.text-center
        %p
          Now that you know our story, get all of the information you need to be an up-to-date wedding guest!
        %p
          We can't wait to share our big day with you :)
        %br
        %p
          %a.button{ href: the_wedding_path }
            %span Wedding Details
