= content_for :page_title do
  The Proposal
.small-12.columns
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.large-6.large-centered.columns
      %h3
        From Kevin's point of view -
      %p
        I want to take a moment to describe the planning, the sequence leading up to, and our proposal itself in an effort to share this moment of ours with you.  Below is our story.
  .row
    %ul.small-block-grid-1.medium-block-grid-1
      %li
        = image_tag 'Kevin-courtney-engagement-1.jpg'
  .row.vertical-spacing
    .small-12.medium-10.medium-centered.large-6.large-centered.columns
      %h3
        Sharp Top - A Special Place in Courtney's Heart
      %p
        Sharp Top Mountain has always been a special place to Courtney.  With the way she would speak of it,
        reminiscing about the hikes her family would take here, the times she and her father would stop by the
        encampment at the bottom - at the Peaks of Otter Lodge and visitor's center below, I knew it was special.
        %br
        %br
        Long before we were ever to be engaged, I knew this was a special place, I place I wanted to forever feature
        as the focal point of us, the single most important place for our relationship, and a place for her to remember
        forever - no matter the passing time, no matter the changing seasons.  A place that would stand the test of time,
        alone amongst the wilderness of the Blue Ridge Parkway, more special than all the rest.
        %br
        %br
        Throughout our relationship, Courtney and I have always been outside.  Hiking, fishing, shooting, taking the dogs into the wilderness - just enjoying all the time in the outdoors we could.
        Periodically, we'd make a jaunt a bit further away to hike some new ground, or climb a hill we did in our separate youths.  The idea of
        %strong Sharp Top
        had come up more than once.  I wanted to make a pass up the mountain, I knew it had some great views from the top - but something had stopped me from wanting
        to go in that moment she would ask.  I knew I wanted to save it for a 'rainy day,' if you will.

      %h3
        The Ring
      %p
        As many of you know, Courtney is an artist at heart.  The attention to detail, the craftsmanship of an artisan, the
        pride that comes with creating a vision of your own is what drives her soul.  The ring - an embodiment of our love
        for one another - could be nothing less.  She deserved a masterpiece.
        %br
        %br
        When trying to find the one ring that was for her,
        the one that represented us in our unbounded love, I wanted to reach for the stars.
        %br
        %br
        Granny, our wonderful Mrs. Jones, had given her engagement ring, for her from Ebb Jones, to Courtney's father.  Her instruction -
        that when someone came looking for Courtney, the ring was for her.  It was to be a keepsake to the family, to carry on with the
        coming generations and the time that would pass, to keep the name and love in the Jones family, long past those who helped create it.
        Of course, this was all set up way prior to myself.  I simply sought Courtney's hand in marriage, not knowing of the heritage I would
        be challenged with.
      %p
        Early one morning in April, with the assistance of Mary, I left long before work to seek out Rick's blessing.  I left right as the sun
        was coming up, way before my normal day would begin, with really no one knowing but myself, to go to him, and ask him for Courtney's hand.
        On the front porch at Rick's woodland home, I surprised him in his own environment, to confront him with the single most important question
        of my life - only to be welcomed with open arms, and with the family ring in hand, and a brief story behind it.  Little did I know,
        this would be where the most difficult decision of my life thus far would start.
      %h3
        Which Ring, and Which Style?

      %p
        Trying to decide on what to do for our engagement ring was a daunting task.  I had her grandmother's ring, but I wasn't sure what to do with it.
        Did I give it to her resized and polished up?  Did I put it aside and get something entirely from me?  Which decision was the best?  I had no clear idea.
        I started as many modern grooms start - the Internet - and browsed through hundreds of pictures to try and narrow it down.  I knew this was getting me nowhere, I needed structure for my search.

      %p
        Courtney and I had discussed rings before.  With my mental notes in hand, I tried to build a collection of possible ring choices from there.  Knowing her stylistic choices,
        knowing the gems she tucked away on her Pinterest account, and knowing her hand dimensions were my starting boundaries.  I had narrowed it down to a little over two hundred choices.  I worked week by week
        with the goal of eliminating fifty permutations each week, then ten each from the fifty mark, then one by one until I had a final set of ten rings.  They shared common similarities, were of slightly different styles, but
        something just seemed off about all of them.  They weren't unique.  They weren't a representation of that craftsmanship and hardwork that I knew drove Court.  It was never more clear in this moment what I needed to do.
      %p
        I wanted to merge the two distinctive parts of Courtney's life.  She's been blessed with one of the most genuine, loving families one could ever have.  And on the other hand, she has my family welcoming her with open arms.  I wanted to join the two worlds - to preserve the heritage and history of where she came, but to provide something new, representative of myself and my family.  I knew I needed to preserve the center stone.  Later, I found out that this stone wasn't just her grandmother's, but belonged to her great-grandmother.  There's no stepping back on that.  Courtney would be the third generation to have that stone.
      %p
        With Granny's ring in hand, and the stone in it - I knew I wanted to take the stylistic choices of the rings I had narrowed down, and to collaborate with an artist to have the perfect, unique and singular creation crafted
        to fit her grandmother's stone.  I found a jeweler close to me who specialized in custom creations, and met up to discuss my ideas.  She took notes, we made scribbles on a notepad, but it never seemed to just 'click' like it had in my mind.
        There was something we were forcing, something natural that was being missed as to the creative process.  We decided to take a quick break from drawing pictures to look at a few examples on my jeweler's computer when I noticed something - 3-D modeling software that I was familiar with.  I asked her a few questions about it, and sure enough, that's where she does the majority of her design work.  This was the break we needed - as I was quite familiar with modeling processes already, and we could actively converse about design elements through technology!
      %p
        Within a matter of hours, we had called up the manufacturer, received some stock models from them, and massaged and manipulated the ring till we had the perfect layout of my ideas.  With the center stone I had from the original ring, we had designed a halo setting for it, with the tri-stone style of having a stone on each side.  We paid special attention to the filigree along the sides of the ring, adding as much complexity to that artistic touch as we could.  With some resizing for proportional balance to the ring, we had an amazing example to commission a custom ring off of.  After consulting a master craftsman in California, we had a timeline and a promise of a truly exceptional ring in a matter of weeks.
      %p
        After getting the ring for the first time - it was truly remarkable to see it in person.  I had put so much hard work and dedication in trying to find the perfect symbol of my love for Courtney, and to try and product something she could wear with pride, as my fiance and later my wife.  It was SO difficult to try and hide it in the house where she wouldn't find it, and not to jump the gun and give it to her early.  Luckily, I found a good hiding spot in the back of my car I knew she'd never find it, and there it stayed.
      %h3 Off On An Adventure
      %p
        During the last week of May, Courtney and I were planning a hiking trip for the day.  We had been checking Craigslist periodically for a used canoe too - always something we've been itching to do the past few summers.  We met up with a gentleman in Charlottesville on Friday night to purchase his canoe, with plan on Saturday to leave early, and hike in the morning during the cool, and canoe in the afternoon on the lake.  It was shaping up to be a great weekend.  This was our time to hit Sharp Top.  I had the ring, and I knew it was time.
      %p
        When I asked Court if she wanted to do Sharp Top, she was giddy with excitement.  She's been dying to go again, and finally we had a free weekend and felt like making the drive to the mountain.  It was turning into a nice little trip - we packed sandwiches for our lunches, filled our water bottles for the hike, and used this as the first chance to really take my GoPro out into the woods to do a long trail with it.
      %p
        Now I mention the GoPro because that was a key part to our engagement I wanted to execute on.  I knew Courtney would want to share this moment with her closest friends and family, but there's no better way to tell a story than with imagery.  Without coming off as odd, I had purchased the camera several months prior, working it into our adventures slowly so she wouldn't suspect a thing.  I was able to capture the entire hike on video.
      %p
        Early Saturday morning, May 30th, 2015, we left for Sharp Top.  Courtney was extremely excited the entire car ride there.  She shared all her stories of the mountain all over again, probably for the third or fourth time through.  We talked about Otter Creek, the visitor's center, the lake at the bottom, the trail itself, the views at the top - all of it.  She was so happy to go back.  When we arrived, we climbed the mountain - some bits faster and some parts awfully slowly, but we made it.  All the way to the top.
      %p
        The top of the mountain had about a dozen other people.  Folks who had either taken the path up the mountain, or took the tour bus up to view the top and take pictures.  We worked our way around the boulders and down the path to the highest portion.  There were a few girls hanging out on the rocks, so we waited our turn.  I took the opportunity to plan to take a picture with Courtney - she knew we had the GoPro attached to my backpack, and I pitched her the idea of positioning it on one of the rocks with the camera pointed forward to the ledge, and we could make a pose and pull a still image out of it later back at home.  The idea was perfect - we hate asking people to take our picture, and this avoided that entirely.  Plus, by the time we were ready, no one was on that side of the rockface - it was just us.
      %p
        So we climbed up on the rockface, a boulder about 15 feet by 10 feet, and looked around a bit celebrating the climb up the mountain.  I struggled a bit - I felt all the anxiousness and nervousness coming over me.  The feelings I had been pushing away were building up inside of me as I was trying to wrangle all the courage I could muster to do it.  Thoughts kept running through my head. What if she falls?  What if she passes out?  What if I pass out?  It'll all be on video, so atleast someone will know what happened.  But what if it's all well and picture perfect?  That's the outcome I was hoping for the most.
      %p
        So I finally forced myself.  I dropped to one knee and pulled out the ring.  I can't even begin to describe the overwhelming emotion that rips through you in that moment.  It is undoubtedly one of the most overwhelming feelings I've ever felt.  The tidal wave of emotion just ripping through you, and there's nothing you can do to stop it.  Its utterly shocking how it hits you - it can't be faked, it can't be reproduced. Just a once in a lifetime opportunity.  At the same time, I tried to stay light on my knee in case I had to grab her.  The thoughts came rushing back about her stepping backwards or stumbling - I had to be prepared.  I'm just thankful it all worked out the way it did.
      %p
        After almost three years of dating each other, I had asked my best friend to marry me.  I know the path that lies ahead of us, and I know there will be happy days and sad days.  I know there will be trials and tribulations, but also successes and things to be proud of.  No matter what comes down the road for us - I only want to do it with Courtney by my side.  I've wanted a partnership with her so long, with her as my wife, and me as her husband, and now it is all set in motion.
      %p
        I think back to all the love our families have shown us.  With my mother and father, my best friend and brother Brian - with Courtney's mother, father, step mother, and step father, not to mention Meagan, Robbie, Faith, and Ian.  All the aunts, the uncles, grandparents, cousins and friends - we've been surrounded by a lot of love.  I could not be more thankful for the family I have, the family I'm gaining, and to be part of the story of all of them.  I most thankful for Courtney - in all of her strength, personality, beauty, and ever lasting love.
      %p.text-center
        %a.button{ href: gallery_path( 'proposal-gallery' ) }
          %span See proposal photos
    %br
    .row
      .small-12.medium-10.medium-centered.large-6.large-centered.columns
        %h2.text-center
          Watch our Video!
          .flex-video
            %iframe{ width: 560, height: 315, src: 'https://www.youtube.com/embed/uWVu6Cth3Sw', frameborder: 0, allowfullscreen: ''}
    .row.vertical-spacing
      .small-12.medium-10.medium-centered.large-6.large-centered.columns.text-center
        %p
          Now that you know our story, get all of the information you need to be an up-to-date wedding guest!
        %p
          We can't wait to share our big day with you :)
        %br
        %p
          %a.button{ href: the_wedding_path }
            %span Wedding Details
