%section.hp-opening
  .row
    %h1.page-title.text-center The Proposal
.row.page-wrapper
  .page-inner-wrapper.clearfix
    .small-12.columns
      .row.vertical-spacing
        .small-12.medium-10.medium-centered.large-6.large-centered.columns
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ex sodales, maximus tellus ac, egestas mi. Nam lacinia, augue in porttitor pulvinar, justo magna consectetur nibh, eget facilisis leo lacus sed massa. Nulla facilisis viverra sem, id tincidunt magna. Quisque placerat lacinia fermentum. Morbi id condimentum turpis. Aliquam cursus neque erat, vel convallis nisi finibus vel. Praesent sit amet suscipit eros, non faucibus turpis. Aenean nec tortor id eros porttitor interdum gravida at sapien. Vivamus eget arcu non felis viverra vehicula vitae a lacus.
      .row
        %ul.small-block-grid-1.medium-block-grid-2
          %li
            = image_tag 'Kevin-courtney-engagement-1.jpg'
          %li
            = image_tag 'Kevin-courtney-engagement-2.jpg'
      .row.vertical-spacing
        .small-12.medium-10.medium-centered.large-6.large-centered.columns
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ex sodales, maximus tellus ac, egestas mi. Nam lacinia, augue in porttitor pulvinar, justo magna consectetur nibh, eget facilisis leo lacus sed massa. Nulla facilisis viverra sem, id tincidunt magna. Quisque placerat lacinia fermentum. Morbi id condimentum turpis. Aliquam cursus neque erat, vel convallis nisi finibus vel. Praesent sit amet suscipit eros, non faucibus turpis. Aenean nec tortor id eros porttitor interdum gravida at sapien.
          %p
            Vivamus eget arcu non felis viverra vehicula vitae a lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ex sodales, maximus tellus ac, egestas mi. Nam lacinia, augue in porttitor pulvinar, justo magna consectetur nibh, eget facilisis leo lacus sed massa. Nulla facilisis viverra sem, id tincidunt magna. Quisque placerat lacinia fermentum. Morbi id condimentum turpis. Aliquam cursus neque erat, vel convallis nisi finibus vel. Praesent sit amet suscipit eros, non faucibus turpis. Aenean nec tortor id eros porttitor interdum gravida at sapien. Vivamus eget arcu non felis viverra vehicula vitae a lacus.
          %p.text-center
            %a.button{ href: '#' }
              %span See all proposal photos
        .row
          .small-12.medium-10.medium-centered.large-6.large-centered.columns
            %h2.text-center
              Watch our Video!
              .flex-video
                %iframe{ width: 560, height: 315, src: 'https://www.youtube.com/embed/uWVu6Cth3Sw', frameborder: 0, allowfullscreen: ''}
        .row.vertical-spacing
          .small-12.medium-10.medium-centered.large-6.large-centered.columns.text-center
            %p
              Now that you know our story, get all of the information you need to be an up-to-date wedding guest!
            %p
              We can't wait to share our big day with you :)
            %br
            %p
              %a.button{ href: the_wedding_path }
                %span Wedding Details
