default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  host: localhost
  username: rails
  password:

development:
  <<: *default
  database: wedweb_dev

test:
  <<: *default
  database: wedweb_test
