/******************************************************************

Stylesheet: X-Large-Up Stylesheet

Styles apply to 1441px and up.

******************************************************************/

// homepage

.full-box {
    height: 450px;
}

.half-box {
    height: 225px;
}
